<% if ProconBypassManHost.all.empty? %>
  <p>
    ProconBypassManHostの登録がありません。ProconBypassManHostを登録してください。
  </p>
<% end %>

<p>
キャプチャデバイス名: <input type=text><input type=button value='保存'><br>

<%= form_with(model: Setting.instance, local: true, html: { class: 'form-horizontal' }) do |form| %>
  <div class="field">
    <%= form.label :procon_bypass_man_host_id, '送信先PBM' %>
    <%= form.select :procon_bypass_man_host_id, ProconBypassManHost.all.collect { |host| [host.name, host.id] }, { prompt: 'Select a ProconBypassManHost' } %>
  </div>
  <div class="actions">
    <%= form.submit '保存' %>
  </div>
<% end %>

</p>

<!-- TODO: 処理中はcheckboxをロックする -->
<input type=checkbox >[ブキ(チャージャー)のが標的にあったら] - [射撃ボタンを離す]<br>
<input type=checkbox >[ブキ(シューター)が標的にあったら] - [射撃ボタンを連打する]<br>


<p>
<input type=button value='画面キャプチャと画像解析を開始する'>
</p>


<h3>動作確認</h3>

<ul>
  <li>PBMへ入力を行う</li>
  <ul>
    <li>
      <%= Procon::BUTTONS.map { |x| link_to(x, procon_bypass_man_commands_path(buttons: [x]), class: 'button-like', data: { remote: true }, method: :post) }.join.html_safe %>
    </li>
  </ul>
  <li>画面キャプチャを行う</li>
</ul>
