<!DOCTYPE html>
<html>
  <head>
    <title>ProconBypassManCommander</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to_unless_current 'トップページ', root_path %>, <%= link_to_unless_current 'PBM_hostの一覧を表示する', procon_bypass_man_hosts_path %>, <%= link_to_unless_current '解析結果に一致した時に実行するアクション一覧', procon_bypass_man_commands_path %>
    <hr>

    <%= yield %>
  </body>
</html>
